/* Default Theme Variables (Light Theme) */
:root {
  --background-color: #f9f9f9;
  --text-color: #333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --button-bg: var(--primary-color);
  --button-text: #fff;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #181818;
  --text-color: #0da2b6;
  --primary-color: #4caf50;
  --secondary-color: #9e9e9e;
  --button-bg: var(--primary-color);
  --button-text: #000;
}

/* Catchy Theme (Colorful) */
[data-theme="colorful"] {
  --background-color: #fffcf7;
  --text-color: #1a1a2e;
  --primary-color: #ff6f61;
  --secondary-color: #ff9f68;
  --button-bg: var(--primary-color);
  --button-text: #fff;
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2 {
  color: var(--primary-color);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  color: var(--text-color);
}

.email-item {
  border: 1px solid var(--secondary-color);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.email-item:hover {
  transform: translateY(-3px);
  background-color: var(--secondary-color);
  color: var(--button-text);
}
#emails-list {
  list-style-type: none;
  padding: 0;
}

#emails-list li {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#emails-list li:hover {
  background-color: #f1f1f1;
}
/* Attachment File Button */
.attachment-icon {
  display: inline-block;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.attachment-icon:hover {
  background-color: var(--secondary-color);
  color: var(--button-text);
}

input[type="file"] {
  display: none; /* Hide the default file input button */
}

.attachment-icon span {
  font-size: 18px;
  margin-right: 8px;
  vertical-align: middle;
}

